<app-navbar></app-navbar>
<div class="container">
    <h2 class="fnt-anton sz52 aftr-sz52 text-center mt-4 mb-5">Artistas</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <img src="../../../assets/quemsomos.png" class="vertical-img img-fluid border-preto d-flex">
                </div>
                <div class="col-md-6">
                    <div class="descr-box">
                        <p class="fnt-anton sz32 nm-artista">Artista 1</p>
                        <p class="fnt-anton descricao">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <div class="preto antes-arte margin-top-6">
                            <p class="pixacao txt-branco sz24">Antes arte do que nunca!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row" *ngIf="Width > 758">
                <div class="col-md-6">
                    <div class="descr-box">
                        <p class="fnt-anton sz32 nm-artista">Artista 1</p>
                        <p class="fnt-anton descricao">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <div class="preto antes-arte margin-top-6">
                            <p class="pixacao txt-branco sz24">Antes arte do que nunca!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="../../../assets/quemsomos.png" class="vertical-img img-fluid border-preto d-flex">
                </div>
            </div>
            <div class="row mb-5" *ngIf="Width <= 758">
                <div class="row">
                    <div class="col-md-6">
                        <img src="../../../assets/quemsomos.png" class="vertical-img img-fluid border-preto d-flex">
                    </div>
                    <div class="col-md-6">
                        <div class="descr-box px-5">
                            <p class="fnt-anton sz32 nm-artista">Artista 2</p>
                            <p class="fnt-anton descricao">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                                a type passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <div class="preto antes-arte margin-top-6">
                                <p class="pixacao txt-branco sz24">Antes arte do que nunca!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>