@font-face {
    font-family: Pixo;
    src: url(../../../assets/fontes/Streetlife.ttf);
}

.pixacao {
    font-family: Pixo !important;
}

.vertical-img {
    height: 380px !important;
    width: 200px !important;
}

.antes-arte {
    padding-left: 20px !important;
}

.descricao {
    font-weight: lighter !important;
}

@media (max-width: 770px) {
    .vertical-img {
        height: 380px !important;
        width: 400px !important;
        margin: 0 auto !important;
    }
    .descricao {
        margin-top: 15px;
    }
    .titulo {
        margin-left: -25px !important;
    }
    .antes-arte {
        margin-top: 0 !important;
    }
    .descr-box {
        padding: 30px;
    }
    .pixacao {
        text-align: center;
    }
    .artista-2 {
        padding: 30px !important
    }
}