<app-navbar></app-navbar>
<div class="container-fluid mb-5 pb-3 conteudo">
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="col-md-12">
                <p class="fnt-anton sz32 txt-preto bold">
                    Caso goste do nosso projeto e deseja nos ajudar a manter este site vivo, você pode nos ajudar com uma doação. <br> O dinheiro será usado para manter o site sem anúncios, open-source, ajudar com novos conteúdos, manutenções e pagar
                    hospedagens melhores. Qualquer valor é bem-vindo!
                </p>
                <div class="mb-4">
                    <p class="d-inline fnt-sans sz18 txt-cinza mt-5 bold">GitHub do projeto: </p><a href="" target="_blank" class="d-inline fnt-sans sz18 txt-preto mt-5 bold">D'Cria</a><br>
                    <p class="d-inline fnt-sans sz18 txt-cinza mt-5 bold">Linkedin do desenvolvedor: </p><a href="" target="_blank" class="d-inline fnt-sans sz18 txt-preto mt-5 bold">Daniel-kenobi</a><br>
                    <p class="d-inline fnt-sans sz18 txt-cinza mt-5 bold">Bahance do desginer: </p><a href="" target="_blank" class="d-inline fnt-sans sz18 txt-preto mt-5 bold">Wendel Marx</a><br>
                </div>
                <button type="button" class="btn btn-preto border-cinza">Mercado Pago</button>
                <button type="button" class="btn btn-preto border-cinza">PayPal</button>
                <button type="button" class="btn btn-preto border-cinza">TED</button>
                <button type="button" class="btn btn-preto border-cinza">PIX</button>

            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <img class="img-fluid imagem" src="../../../assets/ApoieImage.png" alt="Viaduto santa tereza">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>