$preto: #111111;
$cinza: #939393;
.imagem {
    border: 3px solid $preto;
    border-radius: 5px;
    width: 600px !important;
    height: 495px !important;
    object-fit: fill;
}

@media (max-width: 750px) {
    .imagem {
        display: none !important;
    }
}