<app-navbar></app-navbar>
<div class="container mt-5">
    <section class="apresentacao">
        <div class="row">
            <div class="col-md-6">
                <h2 class="expo-titulo sz52">
                    Exposição de arte urbana mineira. <br> Criada para expor a realidade marginalizada.
                </h2>
            </div>
            <div class="col-md-6 blocos">
                <div class="row centro">
                    <div class="col-md-3">
                        <div class="col-md-12 expo arte1">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 bloco-preto">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 expo arte2">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 bloco-preto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="container-fluid preto mt-5 pt-5 pb-5">
    <div class="container m-4 ">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12 mt-5">
                    <h6 class="sz24 txt-cinza ml-5 fnt-anton titulo">Quem somos ? </h6>
                    <p class="txt-branco sz18 paragrafo ml-5">
                        Somos uma marca desenvolvida para expor arte urbana, trazendo na essência o que as ruas tem de melhor, que por muitas das vezes é marginalizado. Vamos te apresentar um outro lado dessa história!
                    </p>

                    <p class="txt-branco ml-5 sz18 paragrafo"><i class="fa fa-instagram d-inline"></i> Desenvolvedor: <a class="txt-branco sz18 paragrafo d-inline" href="https://www.instagram.com" target="_blank">Daniel</a></p>
                    <p class="txt-branco ml-5 sz18 paragrafo"><i class="fa fa-instagram d-inline"></i> Designer: <a class="txt-branco sz18 paragrafo d-inline" href="https://www.instagram.com" target="_blank">Wendel</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 ml-5">
                    <img src="../../../assets/quemsomos.png" class="ml-5 img-fluid imagem-quemsomos border-branco" alt="quem somos" height="350">
                    <p class="sz-14 txt-branco ml-5 disable">Fonte: arial 12</p>
                </div>
            </div>
        </div>
    </div>
</section>

<h6 class="sz52 aftr-sz52 txt-preto fnt-anton text-center mt-5" id="Exposicao">Exposições</h6>
<div class="container-fluid pt-3 pb-4">
    <h6 class="sz32 aftr-sz32 txt-preto fnt-anton text-center mb-5">Belo horizonte</h6>
    <div class="container m-4 ">
        <!--belo horizonte-->
        <!--Arte 1-->
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="col-md-12">
                    <h6 class="sz24 txt-preto ml-5 fnt-anton titulo titulo-obras">Titulo</h6>
                    <p class="txt-preto sz18 paragrafo ml-5 fnt-arial bold">
                        Descição desta linda exposição de arte
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <img src="../../../assets/artes/Belo Horizonte/arte.jpg" class="ml-5 img-fluid border-preto imagem" alt="quem somos" height="350">
                </div>
            </div>
        </div>

        <!--Arte 2-->
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="col-md-12">
                    <h6 class="sz24 txt-preto ml-5 fnt-anton titulo titulo-obras">Titulo</h6>
                    <p class="txt-preto sz18 paragrafo ml-5 fnt-arial bold">
                        Descição desta linda exposição de arte
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <img src="../../../assets/artes/Belo Horizonte/arte2.jpg" class="ml-5 img-fluid border-preto imagem" alt="quem somos" height="350">
                </div>
            </div>
        </div>

        <!--Arte 3-->
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="col-md-12">
                    <h6 class="sz24 txt-preto ml-5 fnt-anton titulo titulo-obras">Titulo</h6>
                    <p class="txt-preto sz18 paragrafo ml-5 fnt-arial bold">
                        Descição desta linda exposição de arte
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <img src="../../../assets/artes/Belo Horizonte/arte3.jpg" class="ml-5 img-fluid border-preto imagem" alt="quem somos" height="350">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid preto pt-3 pb-4 santa-luzia">
    <h6 class="sz32 aftr-sz32-cinza txt-cinza text-center fnt-anton mt-4 mb-5">Santa luzia</h6>
    <div class="container m-4 ">
        <!--Santa Luzia-->

        <!--Arte 1-->
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="col-md-12">
                    <h6 class="sz24 txt-cinza ml-5 fnt-anton titulo titulo-obras">Titulo</h6>
                    <p class="txt-branco sz18 paragrafo ml-5 fnt-arial bold">
                        Descição desta linda exposição de arte
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <img src="../../../assets/artes/Santa Luzia/arte1.jpg" class="ml-5 img-fluid border-branco imagem" alt="quem somos" height="350">
                </div>
            </div>
        </div>

        <!--Arte 2-->
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="col-md-12">
                    <h6 class="sz24 txt-cinza ml-5 fnt-anton titulo titulo-obras">Titulo</h6>
                    <p class="txt-branco sz18 paragrafo ml-5 fnt-arial bold">
                        Descição desta linda exposição de arte
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <img src="../../../assets/artes/Santa Luzia/arte2.jpg" class="ml-5 img-fluid border-branco imagem" alt="quem somos" height="350">
                </div>
            </div>
        </div>

        <!--Arte 3-->
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="col-md-12">
                    <h6 class="sz24 txt-cinza ml-5 fnt-anton titulo titulo-obras">Titulo</h6>
                    <p class="txt-branco sz18 paragrafo ml-5 fnt-arial bold">
                        Descição desta linda exposição de arte
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <img src="../../../assets/artes/Santa Luzia/arte3.jpg" class="ml-5 img-fluid border-branco imagem" alt="quem somos" height="350">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-5 pb-4">
    <h6 class="sz32 aftr-sz32 txt-preto ml-5 fnt-anton text-center mb-5">Ribeirão das neves</h6>
    <div class="container m-4 ">
        <!--neves-->
        <!--Arte 1-->
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="col-md-12">
                    <h6 class="sz24 txt-preto ml-5 fnt-anton titulo titulo-obras">Titulo</h6>
                    <p class="txt-preto sz18 paragrafo ml-5 fnt-arial bold">
                        Descição desta linda exposição de arte
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <img src="../../../assets/artes/Neves/arte1.jpg" class="ml-5 img-fluid border-preto imagem" alt="quem somos" height="350">
                </div>
            </div>
        </div>

        <!--Arte 2-->
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="col-md-12">
                    <h6 class="sz24 txt-preto ml-5 fnt-anton titulo titulo-obras">Titulo</h6>
                    <p class="txt-preto sz18 paragrafo ml-5 fnt-arial bold">
                        Descição desta linda exposição de arte
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <img src="../../../assets/artes/Neves/arte2.jpg" class="ml-5 img-fluid border-preto imagem" alt="quem somos" height="350">
                </div>
            </div>
        </div>

        <!--Arte 3-->
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="col-md-12">
                    <h6 class="sz24 txt-preto ml-5 fnt-anton titulo titulo-obras">Titulo</h6>
                    <p class="txt-preto sz18 paragrafo ml-5 fnt-arial bold">
                        Descição desta linda exposição de arte
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <img src="../../../assets/artes/Neves/arte3.jpg" class="ml-5 img-fluid border-preto imagem" alt="quem somos" height="350">
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>